In [3]:
import pandas as pd
df = pd.read_csv("titanic_for_exercise.csv")
print("Initial dataframe:")
df.head()

Initial dataframe:

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
0,0.0,3.0,Mr. Owen Harris Braund,male,NaN,1,0.0,7.2500
1,1.0,1.0,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0.0,71.2833
2,1.0,3.0,Miss. Laina Heikkinen,female,26.0,0,0.0,7.9250
3,1.0,1.0,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0.0,53.1000
4,0.0,3.0,Mr. William Henry Allen,male,35.0,0,0.0,8.0500

In [2]:
# Clearn data in "Survive" column
#Check unique values
print(df['Survived'].unique())

[ 0.  1.  3. nan -1. 10.]

In [4]:
index_names= df[(df['Survived'] != 0) & (df['Survived'] !=1)].index
df.drop(index_names, inplace=True)
df.head()
print(df['Survived'].unique())

[0. 1.]

In [5]:
# Clearn data in "Pclass" column
#Check unique values
print(df['Pclass'].unique())

[ 3.  1.  2.  0. nan 22. 33.  6.]

In [6]:
pclass_indexes=df[(df['Pclass'] != 1.) & (df['Pclass'] != 2.) & (df['Pclass'] != 3.)].index
df.drop(pclass_indexes, inplace=True)
print(df['Pclass'].unique())

[3. 1. 2.]

In [7]:
# Clearn data in "Age" column
#Check data values
print(sorted(df['Age'].unique()))

[nan, 0.0, 0.42, 0.67, 0.75, 0.83, 0.92, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0, 13.0, 14.0, 14.5, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 20.5, 21.0, 22.0, 23.0, 23.5, 24.0, 24.5, 25.0, 26.0, 27.0, 28.0, 28.5, 29.0, 30.0, 30.5, 31.0, 32.0, 32.5, 33.0, 34.0, 34.5, 35.0, 36.0, 36.5, 37.0, 38.0, 39.0, 40.0, 40.5, 41.0, 42.0, 43.0, 44.0, 45.0, 45.5, 46.0, 47.0, 48.0, 49.0, 50.0, 51.0, 52.0, 53.0, 54.0, 55.0, 55.5, 56.0, 57.0, 58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65.0, 66.0, 69.0, 70.0, 70.5, 71.0, 74.0, 80.0]

In [8]:
#Clean all nan data and check age column
df.dropna(inplace=True)
print(sorted(df['Age'].unique()))

[0.42, 0.67, 0.75, 0.83, 0.92, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, 9.0, 10.0, 11.0, 12.0, 13.0, 14.0, 14.5, 15.0, 16.0, 17.0, 18.0, 19.0, 20.0, 20.5, 21.0, 22.0, 23.0, 23.5, 24.0, 24.5, 25.0, 26.0, 27.0, 28.0, 28.5, 29.0, 30.0, 30.5, 31.0, 32.0, 32.5, 33.0, 34.0, 34.5, 35.0, 36.0, 36.5, 37.0, 38.0, 39.0, 40.0, 40.5, 41.0, 42.0, 43.0, 44.0, 45.0, 45.5, 46.0, 47.0, 48.0, 49.0, 50.0, 51.0, 52.0, 53.0, 54.0, 55.0, 55.5, 56.0, 57.0, 58.0, 59.0, 60.0, 61.0, 62.0, 63.0, 64.0, 65.0, 66.0, 69.0, 70.0, 70.5, 71.0, 74.0, 80.0]

In [9]:
# Clearn data in "Sex" column
#Check unique values
print(df['Sex'].unique())

['female' 'male' 'F' 'Female' 'fem' 'Male' 'emale' 'M' 'boy']

In [10]:
sex_indexes=df[(df['Sex'] != 'male') & (df['Sex'] != 'female') & (df['Sex'] != 'Male') & (df['Sex'] != 'Female')].index
df.drop(sex_indexes, inplace=True)
print(df['Sex'].unique())

['female' 'male' 'Female' 'Male']

In [12]:
# Clearn data in 'Siblings/Spouses Aboard' column
print(df['Siblings/Spouses Aboard'].unique())
#Data seems to be Ok

[1 0 3 4 2 5 8]
[1 0 3 4 2 5 8]

In [11]:
# Clearn data in 'Parents/Children Aboard' column
print(df['Parents/Children Aboard'].unique())
parents_indexes=df[(df['Parents/Children Aboard'] <0)].index
df.drop(parents_indexes, inplace=True)
print(df['Parents/Children Aboard'].unique())

[  0.   1.   2.   5.   3.   4.  10.  -2.   6. -20.]
[ 0.  1.  2.  5.  3.  4. 10.  6.]

In [13]:
# Clearn data in 'Fare' column
print(sorted(df['Fare'].unique()))
fare_indexes=df[(df['Fare'] <=0)].index
df.drop(fare_indexes, inplace=True)
print(sorted(df['Fare'].unique()))

[-20.525, 0.0, 2.45, 4.0125, 5.0, 6.2375, 6.4375, 6.45, 6.4958, 6.75, 6.8583, 6.95, 6.975, 7.0458, 7.05, 7.0542, 7.125, 7.1417, 7.225, 7.2292, 7.25, 7.3125, 7.4958, 7.5208, 7.55, 7.6292, 7.65, 7.725, 7.7292, 7.7333, 7.7375, 7.7417, 7.75, 7.775, 7.7958, 7.8, 7.8292, 7.8542, 7.875, 7.8792, 7.8875, 7.8958, 7.925, 8.0292, 8.05, 8.1375, 8.1583, 8.3, 8.3625, 8.4042, 8.4333, 8.4583, 8.5167, 8.6542, 8.6625, 8.6833, 8.7125, 8.85, 9.0, 9.2167, 9.225, 9.35, 9.475, 9.4833, 9.5, 9.5875, 9.825, 9.8375, 9.8417, 9.8458, 10.1708, 10.4625, 10.5, 10.5167, 11.1333, 11.2417, 11.5, 12.0, 12.275, 12.2875, 12.35, 12.475, 12.525, 12.65, 13.0, 13.4167, 13.5, 13.7917, 13.8583, 13.8625, 14.0, 14.1083, 14.4, 14.4542, 14.4583, 14.5, 15.0, 15.0458, 15.05, 15.1, 15.2458, 15.5, 15.55, 15.7417, 15.75, 15.85, 15.9, 16.0, 16.1, 16.7, 17.4, 17.8, 18.0, 18.75, 18.7875, 19.2583, 19.5, 19.9667, 20.2125, 20.25, 20.525, 20.575, 21.0, 21.075, 21.6792, 22.025, 22.3583, 22.525, 23.0, 23.25, 23.45, 24.0, 24.15, 25.4667, 25.5875, 25.925, 25.9292, 26.0, 26.25, 26.2833, 26.2875, 26.3875, 26.55, 27.0, 27.7208, 27.75, 27.9, 28.5, 28.7125, 29.0, 29.125, 29.7, 30.0, 30.0708, 30.5, 30.6958, 31.0, 31.275, 31.3875, 32.3208, 32.5, 33.0, 33.5, 34.0208, 34.375, 34.6542, 35.0, 35.5, 36.75, 37.0042, 38.5, 39.0, 39.4, 39.6, 39.6875, 40.125, 41.5792, 42.4, 46.9, 47.1, 49.5, 49.5042, 50.0, 50.4958, 51.4792, 51.8625, 52.0, 52.5542, 53.1, 55.0, 55.9, 56.4958, 56.9292, 57.0, 57.9792, 59.4, 61.175, 61.3792, 61.9792, 63.3583, 65.0, 66.6, 69.3, 69.55, 71.0, 71.2833, 73.5, 75.25, 76.2917, 76.7292, 77.2875, 77.9583, 78.2667, 78.85, 79.2, 79.65, 80.0, 81.8583, 82.1708, 83.1583, 83.475, 86.5, 89.1042, 90.0, 91.0792, 93.5, 106.425, 108.9, 110.8833, 113.275, 120.0, 133.65, 134.5, 135.6333, 146.5208, 151.55, 153.4625, 164.8667, 211.3375, 211.5, 221.7792, 227.525, 247.5208, 262.375, 263.0, 512.3292, 5234.5542]
[2.45, 4.0125, 5.0, 6.2375, 6.4375, 6.45, 6.4958, 6.75, 6.8583, 6.95, 6.975, 7.0458, 7.05, 7.0542, 7.125, 7.1417, 7.225, 7.2292, 7.25, 7.3125, 7.4958, 7.5208, 7.55, 7.6292, 7.65, 7.725, 7.7292, 7.7333, 7.7375, 7.7417, 7.75, 7.775, 7.7958, 7.8, 7.8292, 7.8542, 7.875, 7.8792, 7.8875, 7.8958, 7.925, 8.0292, 8.05, 8.1375, 8.1583, 8.3, 8.3625, 8.4042, 8.4333, 8.4583, 8.5167, 8.6542, 8.6625, 8.6833, 8.7125, 8.85, 9.0, 9.2167, 9.225, 9.35, 9.475, 9.4833, 9.5, 9.5875, 9.825, 9.8375, 9.8417, 9.8458, 10.1708, 10.4625, 10.5, 10.5167, 11.1333, 11.2417, 11.5, 12.0, 12.275, 12.2875, 12.35, 12.475, 12.525, 12.65, 13.0, 13.4167, 13.5, 13.7917, 13.8583, 13.8625, 14.0, 14.1083, 14.4, 14.4542, 14.4583, 14.5, 15.0, 15.0458, 15.05, 15.1, 15.2458, 15.5, 15.55, 15.7417, 15.75, 15.85, 15.9, 16.0, 16.1, 16.7, 17.4, 17.8, 18.0, 18.75, 18.7875, 19.2583, 19.5, 19.9667, 20.2125, 20.25, 20.525, 20.575, 21.0, 21.075, 21.6792, 22.025, 22.3583, 22.525, 23.0, 23.25, 23.45, 24.0, 24.15, 25.4667, 25.5875, 25.925, 25.9292, 26.0, 26.25, 26.2833, 26.2875, 26.3875, 26.55, 27.0, 27.7208, 27.75, 27.9, 28.5, 28.7125, 29.0, 29.125, 29.7, 30.0, 30.0708, 30.5, 30.6958, 31.0, 31.275, 31.3875, 32.3208, 32.5, 33.0, 33.5, 34.0208, 34.375, 34.6542, 35.0, 35.5, 36.75, 37.0042, 38.5, 39.0, 39.4, 39.6, 39.6875, 40.125, 41.5792, 42.4, 46.9, 47.1, 49.5, 49.5042, 50.0, 50.4958, 51.4792, 51.8625, 52.0, 52.5542, 53.1, 55.0, 55.9, 56.4958, 56.9292, 57.0, 57.9792, 59.4, 61.175, 61.3792, 61.9792, 63.3583, 65.0, 66.6, 69.3, 69.55, 71.0, 71.2833, 73.5, 75.25, 76.2917, 76.7292, 77.2875, 77.9583, 78.2667, 78.85, 79.2, 79.65, 80.0, 81.8583, 82.1708, 83.1583, 83.475, 86.5, 89.1042, 90.0, 91.0792, 93.5, 106.425, 108.9, 110.8833, 113.275, 120.0, 133.65, 134.5, 135.6333, 146.5208, 151.55, 153.4625, 164.8667, 211.3375, 211.5, 221.7792, 227.525, 247.5208, 262.375, 263.0, 512.3292, 5234.5542]

In [41]:
# name_index = []
        
# for i in range(len(df['Name'])):

#     name = str(df['Name'].iloc[i])
#     splitted_name = name.split('.')
    
#     if (splitted_name[0] not in ['Mr', 'Mrs', 'Miss']):
#         name_index.append(i)
# print(name_index)

[6, 15, 28, 47, 56, 60, 62, 75, 120, 144, 145, 154, 158, 159, 165, 170, 175, 176, 186, 234, 238, 248, 261, 285, 295, 309, 316, 323, 334, 343, 359, 370, 379, 412, 414, 446, 454, 500, 513, 520, 562, 589, 595, 603, 609, 622, 655, 670, 671, 704, 713, 717, 724, 745, 746, 754, 760, 761, 775, 779, 782, 786, 803, 805, 840]

In [15]:
nimet = ['Mr', 'Mrs', 'Miss']
df = df[df['Name'].str.split('.').str[0].isin(nimet)]
df

,Survived,Pclass,Name,Sex,Age,Siblings/Spouses Aboard,Parents/Children Aboard,Fare
1,1.0,1.0,Mrs. John Bradley (Florence Briggs Thayer) Cum...,female,38.0,1,0.0,71.2833
2,1.0,3.0,Miss. Laina Heikkinen,female,26.0,0,0.0,7.9250
3,1.0,1.0,Mrs. Jacques Heath (Lily May Peel) Futrelle,female,35.0,1,0.0,53.1000
4,0.0,3.0,Mr. William Henry Allen,male,35.0,0,0.0,8.0500
5,0.0,3.0,Mr. James Moran,male,27.0,0,0.0,8.4583
...,...,...,...,...,...,...,...,...
880,0.0,3.0,Mr. Henry Jr Sutehall,male,25.0,0,0.0,7.0500
881,0.0,3.0,Mrs. William (Margaret Norton) Rice,female,39.0,0,5.0,29.1250
884,0.0,3.0,Miss. Catherine Helen Johnston,female,7.0,1,2.0,2.4500
885,1.0,1.0,Mr. Karl Howell Behr,male,26.0,0,0.0,30.0000
886,0.0,3.0,Mr. Patrick Dooley,male,32.0,0,0.0,7.7500

In [16]:
rows_count = df.count()[0]
print (rows_count)

772